<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='signin()'>
    <input type='text' placeholder="username" name="signinFormUser" ng-pattern=/^\s*\w*\s*$/ ng-model='user.username'><span ng-show="!(signinForm.signinFormUser.$valid)" class="invalidInput">Invalid username.</span>
    <input type="password" placeholder="password" ng-model='user.password'>
    <button>signin</button>
    <div ng-show="failed" class="invalidInput">Invalid username/password combination.</div>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
